@use "@/Styles/base/root" as *;
@use "@/Styles/abstracts/mixins" as *;
.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    &__bg {
        width: 100vw;
        height: 100vh;
        background-color: black ;
        opacity: 50%;
    }
    &__inner {
        position: absolute;
        width: 30%;
        height: 30%;
        background: $text-primary-color;
        z-index: 100;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%);
        border-radius: 25px;
        @include flexCenter(center);
    }
    &__message {
        color: $color-vivid-red;
    }
}