@use "@/Styles/Base/root" as *;
.dropdown {
  position: relative;
  &__btn {
    display: inline-flex;
    align-items: center;
    gap: .8rem;
    background: transparent;
    border: none;
    color: $text-primary-color;
    font: inherit;
    cursor: pointer;

    .dropdown__icon {
      width: .5rem;
      height: .5rem;
      border-right: .1rem solid currentColor;
      border-bottom: .1rem solid currentColor;
      transform: rotate(45deg);
      transition: transform 0.3s ease;
    }
  }

  &.is-open .dropdown__icon {
    transform: rotate(-135deg);
  }

  &__list {
    position: absolute;
    top: calc(100% + .8rem);
    left: 0;
    background: $color-bg-primary;
    border-radius: .8rem;
    min-width: 22rem;
    padding: .8rem 0;
    list-style: none;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.3);
    z-index: 10;

    li a {
      display: block;
      padding: 1rem 1.6rem;
      color: $text-primary-color;
      text-decoration: none;
      transition: background 0.25s;
      text-align: center;
      &:hover {
        background: $text-primary-color;
        color: $color-bg-primary;
      }
    }
  }
}
