@use '../abstracts/mixins' as *;
@use '../base/root' as *;
@use '../abstracts/variables' as *;

.section {
    &__journey {
        box-sizing: border-box;
        margin: 0 auto;
        position: relative;
        @include flexCenter(space-between);
        &::before {
            content: '';
            position: absolute;
            top: 17px;
            left: 50%;
            width: 89%;
            transform: translateX(-50%);
            border-bottom: dashed 1px $color-medium-gray;
            z-index: -1;
        }
        .journeyPoint {
            @include flexCenter(start);
            flex-direction: column;
            position: relative;
        }
        & p {
            color: $text-primary-color;
        }     
    }
    .ss2r1 {
        @include flexCenter(flex-start);
        position: relative;
        margin-bottom: 11.1125rem;
    }
    &__intro {
        box-sizing: border-box;
        @include flexStart(flex-start);
        .sideText::after {
            height: 9.0625rem;
        }
        h3 {
            color: $text-primary-color;
        }
        h3 span {
            color: $text-secondary-color;
        }
        p {
            color: $text-secondary-color;
        }
        p span {
            color: $text-primary-color;
        }
    }
    .ss2r2 {
        margin-bottom: 13.9rem;
    }
    .ss2r2c2 {
        .infoExplan:not(:last-child) {
            margin-bottom: 11.125rem;
        }
        .infoExplan:nth-child(1) .infoExplan__item picture:nth-child(2) {
            width: 15.25rem;
        }
        .infoExplan:nth-child(2) .infoExplan__item picture:nth-child(2) {
            width: 17.875rem;
        }
        .infoExplan:nth-child(3) .infoExplan__item picture:nth-child(2) {
            width: 17.25rem;
        }
        .infoExplan:nth-child(2) {
            .infoExplan__item picture:nth-child(2) {
                left: -3rem;
                right: 0;
                bottom: 0;
                top: 4.3rem;
            }
        }
        .infoExplan:nth-child(3) {
            .infoExplan__item picture:nth-child(2) {
                bottom: 3.7rem;
            }
        }
        .infoExplan .item-icon img {
            width: 3.5rem;
        }
    }
    .ss2r3c1 {
        margin-bottom: 9.5rem;
    }
    .ss2r3c2 {
        .feature:not(:last-child) {
            margin-bottom: 9.3125rem;
        }
        .feature:nth-child(even) {
            justify-content: flex-end;
        }
        .feature:nth-child(even) .feature-img {
            flex-direction: row-reverse;
            left: -40.9rem;
            right: 0;
        }
        .feature:nth-child(even) .feature-img picture:nth-child(2) {
            margin-left: 0;
            margin-right: -1.7rem;
        }
    }
    .ss4-container {
        @include flexCenter(flex-start);
        .ss4r1 img {
            width: 41.75rem;
        }
        .ss4r2 {
            @include flexCenter(flex-start);
        }
        .sideText::after {
            height: 4.8rem;
            top: -3.6rem;
        }
    }
    &__downloadApp {
        max-width: 556px;
        h4 {
            color: $text-primary-color;
        }
        h4 img {
            width: 11.9rem;
            height: 3rem;
            display: inline-block;
            vertical-align: middle;
        }
        p {
            color: $color-dim-gray;
        }
        .download-links {
            @include flexCenter(flex-start);
        }
        .download-links img {
            width: 7.5rem;
        }
    }
}

.section#ss1 {
    margin-bottom: 10.875rem;
}
.section#ss2 {
    margin-bottom: 11.125rem;
}
.section#ss3 {
    margin-bottom: 11.125rem;
}



