@use '../abstracts/mixins' as *;
@use '../base/root' as *;
@use '../abstracts/variables' as *;

.section {
    &__journey {
        box-sizing: border-box;
        margin: 0 auto;
        position: relative;
        @include flexCenter(space-between);
        &::before {
            content: '';
            position: absolute;
            top: 17px;
            left: 50%;
            width: 85%;
            transform: translateX(-50%);
            border-bottom: dashed 1px $color-medium-gray;
            z-index: -1;
        }
        .journeyPoint {
            @include flexCenter(start);
            flex-direction: column;
            position: relative;
        }
        & p {
            color: $text-primary-color;
        }     
    }
    .ss2r1 {
        @include flexCenter(center);
        position: relative;
        margin-bottom: 10.8125rem;
    }
    .ss2r1c1 {
        position: absolute;
        transform: rotate(-90deg);
        top: 7.5rem;
        left: 1.9rem;
        span {
            color: $color-vivid-red;
        }
        &::after {
            content: "";
            width: 9.0625rem;
            border-bottom: solid 1px $text-primary-color;
            position: absolute;
            top: 50%;
            right: 100%;
            transform: translateY(-50%);
        }
    }
    &__intro {
        box-sizing: border-box;
        h3 {
            color: $text-primary-color;
        }
        h3 span {
            color: $text-secondary-color;
        }
        p {
            color: $text-secondary-color;
        }
        p span {
            color: $text-primary-color;
        }
    }
    .ss2r2 {
        margin-bottom: 13.9rem;
    }
    .ss2r2c2 {
        .infoExplan:not(:last-child) {
            margin-bottom: 11.125rem;
        }
        .infoExplan:nth-child(2) {
            .infoExplan__item picture:nth-child(2) {
                left: -3rem;
                right: 0;
                bottom: 0;
                top: 4.3rem;
            }
        }
        .infoExplan:nth-child(3) {
            .infoExplan__item picture:nth-child(2) {
                bottom: 3.7rem;
            }
        }
    }
    .ss2r3c1 {
        margin-bottom: 9.5rem;
    }
    .ss2r3c2 {
        .feature {
            margin-bottom: 9.3125rem;
        }
        .feature:nth-child(even) {
            justify-content: flex-end;
        }
        .feature:nth-child(even) .feature-img {
            flex-direction: row-reverse;
            left: -40.9rem;
            right: 0;
        }
        .feature:nth-child(even) .feature-img picture:nth-child(2) {
            margin-left: 0;
            margin-right: -1.7rem;
        }
    }
}

.section#ss1 {
    margin-bottom: 10.875rem;
}
