@use '../abstracts/mixins' as *;
@use '../base/root' as *;

.section {
    &__journey {
        box-sizing: border-box;
        margin: 0 auto;
        position: relative;
        @include flexCenter(space-between);
        img:last-child {
            position: absolute;
            top: 0;
            left: 0;
        }
        &::before {
            content: '';
            position: absolute;
            top: 17px;
            left: 50%;
            width: 85%;
            transform: translateX(-50%);
            border-bottom: dashed 1px $color-medium-gray;
            z-index: -1;
        }
        .journeyPoint {
            @include flexCenter(center);
            flex-direction: column;
            position: relative;
        }
        & p {
            color: $text-primary-color;
        }     
    }
}

.form {
    margin: 0 auto;
    box-sizing: border-box;
    
    &__group {
        @include flexCenter(space-between);
        align-items: unset;
    }
    &__group.location {
        flex-direction: column;
        
    }

    .input-group {
        @include flexCenter(flex-start);
        background: #fff;
        border-radius: 50px;
        box-shadow: 0 0 0 2px transparent;
        transition: box-shadow 0.2s ease;
    }

    label {
        font-weight: 600;
        margin-right: 6px;
        color: $color-bg-secondary;
    }

    input {
        border: none;
        outline: none;
        flex: 1;
        color: $color-medium-light-gray;
        background: transparent;
    }

    &__group.dateAndTime {
        .input-group {
            flex: 1 1 30%;
            min-width: 0;
        }
        input {
            flex: 1 1 30%;
            min-width: 0;
        }
    }
    &__group.pasenger {
        .input-group {
            flex: 1 1 50%;
            min-width: 0;
        }
        input {
            flex: 1 1 50%;
            min-width: 0;
        }
    }
    &__group.button-group {
        justify-content: flex-end;
    }
}