@use "@/Styles/abstracts/mixins" as *;
@use "@/Styles/base/root" as *;
@use "@/Styles/abstracts/variables" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    &--scrolled {
        background-color: $color-bg-primary;
        border-bottom: solid 1px $color-dim-gray;
    }
    .hd1r1 {
        @include flexCenter(space-between);
    }
    &__nav {
        @include flexCenter(flex-end);
    }
    &__menu {
        background-color: transparent;
        border: none;
        color: $text-primary-color;
        & option {
            background-color: transparent;
            color: $text-primary-color;
        }
    }
    &__language {
        @include flexCenter(center);
    }
    &__languageSelect {
        background-color: transparent;
        border: none;
        color: $text-primary-color;
        & option {
            background-color: $color-bg-primary;
            color: $text-primary-color;
        }
    }
}