@use "@/Styles/Abstracts/mixins" as *;
@use "@/Styles/Base/root" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    .hd1r1 {
        @include flexCenter(space-between);
        padding: 3.3rem 8rem;
    }
    &__logo {
        width: 25.1rem;
    }
    &__nav {
        @include flexCenter(flex-end);
    }
    &__menu {
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $text-primary-color;
        & option {
            background-color: transparent;
            color: $text-primary-color;
        }
    }
    &__language {
        @include flexCenter(center);
        padding: 0 .2rem;
        margin-left: 3rem;
    }
    &__languageSelect {
        background-color: transparent;
        border: none;
        color: $text-primary-color;
        margin-left: .2rem;
        & option {
            background-color: $color-bg-primary;
            color: $text-primary-color;
        }
    }
    & button.btn {
        padding: 1.6rem 3.2rem;
        margin-left: 3.2rem;
    }
}