@use "@/Styles/base/root" as *;
.dropdown {
  position: relative;
  &__btn {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    background: transparent;
    border: none;
    color: $text-primary-color;
    
    .dropdown__icon {
      width: 5px;
      height: 5px;
      border-right: .1rem solid currentColor;
      border-bottom: .1rem solid currentColor;
      transform: rotate(45deg);
      transition: transform 0.3s ease;
    }
  }

  &.is-open .dropdown__icon {
    transform: rotate(-135deg);
  }

  &__list {
    position: absolute;
    top: calc(100% + .5rem);
    left: 0;
    background: $color-bg-primary;
    list-style: none;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.3);
    z-index: 10;

    li a {
      display: block;
      color: $text-primary-color;
      text-decoration: none;
      transition: background 0.25s;
      text-align: center;
      &:hover {
        background: $text-primary-color;
        color: $color-bg-primary;
      }
    }
  }
}
