
@use '@/Styles/abstracts/mixins' as *;
@use '@/Styles/abstracts/variables' as *;
@use '@/Styles/base/root' as *;

.form {
    margin: 0 auto;
    box-sizing: border-box;
    
    &__group {
        @include flexCenter(space-between);
        align-items: unset;
    }
    &__group.location {
        flex-direction: column;
        
    }

    &__group.dateAndTime {
        .input-group {
            flex: 1 1 30%;
            min-width: 0;
        }
        input {
            flex: 1 1 30%;
            min-width: 0;
        }
    }
    &__group.pasenger {
        .input-group {
            flex: 1 1 50%;
            min-width: 0;
        }
        input {
            flex: 1 1 50%;
            min-width: 0;
        }
    }
    &__group.button-group {
        justify-content: flex-end;
    }
}

input[type="date"]::before {
  content: attr(data-placeholder);
  color: #999;
  position: absolute;
  pointer-events: none;
}

input[type="date"]:valid::before,
input[type="date"]:focus::before {
  content: "";
}