
@use '@/Styles/abstracts/mixins' as *;
@use '@/Styles/abstracts/variables' as *;
@use '@/Styles/base/root' as *;

.form {
    margin: 0 auto;
    box-sizing: border-box;
    
    &__group {
        @include flexCenter(space-between);
        align-items: unset;
    }
    &__group.location {
        flex-direction: column;
        
    }

    .input-group {
        @include flexCenter(flex-start);
        background: #fff;
        border-radius: 50px;
        box-shadow: 0 0 0 2px transparent;
        transition: box-shadow 0.2s ease;
    }

    label {
        font-weight: 600;
        margin-right: 6px;
        color: $color-bg-secondary;
    }

    input {
        border: none;
        outline: none;
        flex: 1;
        color: $color-medium-light-gray;
        background: transparent;
        font-family: $font-secondary;
    }

    &__group.dateAndTime {
        .input-group {
            flex: 1 1 30%;
            min-width: 0;
        }
        input {
            flex: 1 1 30%;
            min-width: 0;
        }
    }
    &__group.pasenger {
        .input-group {
            flex: 1 1 50%;
            min-width: 0;
        }
        input {
            flex: 1 1 50%;
            min-width: 0;
        }
    }
    &__group.button-group {
        justify-content: flex-end;
    }
}