@use "@/Styles/base/root" as *;
@use "@/Styles/abstracts/mixins" as *;
@use "@/Styles/abstracts/variables" as *;

.btn {
    font-family: $font-primary;
    color: $text-primary-color;
    @include flexCenter(center);
    border: none;
    border-radius: 10rem;
}

.primary {
    background-color: $btn-bg-color;
}