@use "@/Styles/abstracts/mixins" as *;
@use "@/Styles/abstracts/variables" as *;
@use "@/Styles/base/root" as *;
html {
    font-family: $font-primary;
}

body {
    background-color: $color-bg-primary;
    // padding: 0 8rem;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

main {
    padding-top: 9rem;
    background: url("../../assets/images/pattern.svg") no-repeat; 
    background-size: 100% auto;
    background-position: top -4.375rem center;
    max-width: 1512px;
    margin: 0 auto;
}


