@use "@/Styles/abstracts/mixins" as *;
@use "@/Styles/abstracts/variables" as *;
@use "@/Styles/base/root" as *;
html {
    @include breakpoints(
    "font-size",
    "",
        (
            1512: 1.058vw,
            768: 2.083vw,
            375: 4.26vw,
        )
    );
    font-family: $font-primary;
    color: $text-primary-color;
}

body {
    background-color: $color-bg-primary;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

li {
    list-style: none;
}

main {
    padding-top: 9rem;
    background: url("../../assets/images/pattern.svg") no-repeat; 
    background-size: 100% auto;
    background-position: top -4.375rem center;
    max-width: 1512px;
    margin: 0 auto;
}

textarea {
    border: none;
}



